In [13]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import seaborn as sns
color = sns.color_palette()
import matplotlib.pyplot as plt
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
%matplotlib inline

In [3]:
df = pd.read_csv("tested.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### Data Information and missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

### Data Description

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

### Data Profiling

In [ ]:
profileRep = ProfileReport(df, title="Profile")
profileRep

### Survivors' account

In [10]:
df["Survived"].value_counts()

0    266
1    152
Name: Survived, dtype: int64

In [16]:
#### Pie Chart to show survivors and non-survivors 0 to represent the number of non-survivors and 1 to represent the number of survivors

In [17]:
dist = df["Survived"].value_counts()
colors = ["brown", "darkorange"]
trace = go.Pie(values=(np.array(dist)),labels=dist.index)
layout = go.Layout(title="Titanic Survivors and Non-Survivors")
data = [trace]
fig = go.Figure(trace,layout)
fig.update_traces(marker=dict(colors=colors, line=dict(color='#000000', width=2)))
fig.show()

In [4]:
df = df.drop(['PassengerId','Name','Ticket'], axis =1)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,NaN,0,0,8.0500,NaN,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,108.9000,C105,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,7.2500,NaN,S
416,0,3,"Ware, Mr. Frederick",male,NaN,0,0,8.0500,NaN,S
417,0,3,"Peter, Master. Michael J",male,NaN,1,1,22.3583,NaN,C

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Name      418 non-null    object
 3   Sex       418 non-null    object
 4   Age       332 non-null    float64
 5   SibSp     418 non-null    int64
 6   Parch     418 non-null    int64
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ KB

### Preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
le = LabelEncoder()

In [7]:
df['Sex']= le.fit_transform(df['Sex'])
df['Name']= le.fit_transform(df['Name'])
df['Cabin']= le.fit_transform(df['Cabin'])
df['Embarked']= le.fit_transform(df['Embarked'])

In [8]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,206,1,34.5,0,0,7.8292,76,1
1,1,3,403,0,47.0,1,0,7.0000,76,2
2,0,2,269,1,62.0,0,0,9.6875,76,1
3,0,3,408,1,27.0,0,0,8.6625,76,2
4,1,3,178,0,22.0,1,1,12.2875,76,2
...,...,...,...,...,...,...,...,...,...,...
413,0,3,353,1,NaN,0,0,8.0500,76,2
414,1,1,283,0,39.0,0,0,108.9000,22,0
415,0,3,332,1,38.5,0,0,7.2500,76,2
416,0,3,384,1,NaN,0,0,8.0500,76,2
417,0,3,302,1,NaN,1,1,22.3583,76,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Name      418 non-null    int32
 3   Sex       418 non-null    int32
 4   Age       332 non-null    float64
 5   SibSp     418 non-null    int64
 6   Parch     418 non-null    int64
 7   Fare      417 non-null    float64
 8   Cabin     418 non-null    int32
 9   Embarked  418 non-null    int32
dtypes: float64(2), int32(4), int64(4)
memory usage: 26.3 KB

In [10]:
df.isnull().sum()

Survived     0
Pclass       0
Name         0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Cabin        0
Embarked     0
dtype: int64

In [11]:
df.dropna(inplace=True)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,206,1,34.5,0,0,7.8292,76,1
1,1,3,403,0,47.0,1,0,7.0000,76,2
2,0,2,269,1,62.0,0,0,9.6875,76,1
3,0,3,408,1,27.0,0,0,8.6625,76,2
4,1,3,178,0,22.0,1,1,12.2875,76,2
...,...,...,...,...,...,...,...,...,...,...
409,1,3,296,0,3.0,1,1,13.7750,76,2
411,1,1,262,0,37.0,1,0,90.0000,41,1
412,1,3,172,0,28.0,0,0,7.7750,76,2
414,1,1,283,0,39.0,0,0,108.9000,22,0
415,0,3,332,1,38.5,0,0,7.2500,76,2

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  331 non-null    int64
 1   Pclass    331 non-null    int64
 2   Name      331 non-null    int32
 3   Sex       331 non-null    int32
 4   Age       331 non-null    float64
 5   SibSp     331 non-null    int64
 6   Parch     331 non-null    int64
 7   Fare      331 non-null    float64
 8   Cabin     331 non-null    int32
 9   Embarked  331 non-null    int32
dtypes: float64(2), int32(4), int64(4)
memory usage: 23.3 KB

In [13]:
y = df["Embarked"]
X = df.drop('Embarked', axis=1)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,206,1,34.5,0,0,7.8292,76,1
1,1,3,403,0,47.0,1,0,7.0000,76,2
2,0,2,269,1,62.0,0,0,9.6875,76,1
3,0,3,408,1,27.0,0,0,8.6625,76,2
4,1,3,178,0,22.0,1,1,12.2875,76,2
...,...,...,...,...,...,...,...,...,...,...
409,1,3,296,0,3.0,1,1,13.7750,76,2
411,1,1,262,0,37.0,1,0,90.0000,41,1
412,1,3,172,0,28.0,0,0,7.7750,76,2
414,1,1,283,0,39.0,0,0,108.9000,22,0
415,0,3,332,1,38.5,0,0,7.2500,76,2

In [14]:
y

0      1
1      2
2      1
3      2
4      2
      ..
409    2
411    1
412    2
414    0
415    2
Name: Embarked, Length: 331, dtype: int32

In [15]:
X

     Survived  Pclass  Name  Sex   Age  SibSp  Parch      Fare  Cabin
0           0       3   206    1  34.5      0      0    7.8292     76
1           1       3   403    0  47.0      1      0    7.0000     76
2           0       2   269    1  62.0      0      0    9.6875     76
3           0       3   408    1  27.0      0      0    8.6625     76
4           1       3   178    0  22.0      1      1   12.2875     76
..        ...     ...   ...  ...   ...    ...    ...       ...    ...
409         1       3   296    0   3.0      1      1   13.7750     76
411         1       1   262    0  37.0      1      0   90.0000     41
412         1       3   172    0  28.0      0      0    7.7750     76
414         1       1   283    0  39.0      0      0  108.9000     22
415         0       3   332    1  38.5      0      0    7.2500     76

[331 rows x 9 columns]

### Splitting

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc = RandomForestClassifier()

In [20]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [21]:
prediction = rfc.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, prediction) * 100

72.72727272727273